/* FONTS *************/

@font-face {
  font-family: wishleman;
  src: url(Fonts/wishleman/wishleman.ttf);
}

@font-face {
  font-family: magazine;
  src: url(Fonts/magazine/Magazine.ttf);
}

@font-face {
  font-family: edition;
  src: url(Fonts/EDITION_.ttf);
}

@font-face {
  font-family: made_bon_voyage;
  src: url(Fonts/made_bon_voyage/MADE Bon Voyage Thin PERSONAL USE.otf);
}
/* FONTS *************/

body {
  background-color: #bd7040;
  font-size: 40px;
  background: repeating-linear-gradient(
  45deg,
  #dd9c8b,
  #e4a08d 10px,
  #e4a08d 10px,
  #dd9c8b 20px
);
}

#band {
  color: white;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 80px;
  font-family: wishleman;
  text-shadow: 2px 2px 4px #66451b;
  outline-style: dashed;
  background-color: #a5786b; opacity: 0.9;
}

#lyric {
  color: white;
  margin-left: 400px;
  margin-right: 400px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-family: magazine;
  text-shadow: 2px 2px 4px #66451b;
  outline-style: double;
  background-color: #b47a6a; opacity: 0.9;
}

#song{
  color: white;
  font-size: 15px;
  font-family: magazine;
}

h1 {
font-family: magazine;
}

ul {
list-style-type: none;
display: flex;
justify-content: center;
font-family: wishleman;
margin-top: 20px;
}

#box1{
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: -50px;
  background: #b17c6e; opacity: 0.9;
  text-align: center;
  border-radius: 25px;
  border: 9px; solid #9c9170;
  padding: 20px;
  width: 75%;
  font-family: made_bon_voyage;
  font-size: 20px;
  font-style: normal;
  box-shadow: 0 2px 4px 1px rgba(33, 21, 8, 0.3), 0 3px 10px 1px rgba(33, 21, 8, 0.3);
}

#box2{
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: -10px;
  background: #b17c6e; opacity: 0.9;
  text-align: center;
  border-radius: 25px;
  border: 9px; solid #9c9170;
  padding: 20px;
  width: 75%;
  font-family: made_bon_voyage;
  font-size: 20px;
  font-style: normal;
  box-shadow: 0 2px 4px 1px rgba(33, 21, 8, 0.3), 0 3px 10px 1px rgba(33, 21, 8, 0.3);
}

#box3{
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: -10px;
  background: #b17c6e; opacity: 0.9;
  text-align: center;
  border-radius: 25px;
  border: 9px; solid #9c9170;
  padding: 20px;
  width: 75%;
  font-family: made_bon_voyage;
  font-size: 20px;
  font-style: normal;
  box-shadow: 0 2px 4px 1px rgba(33, 21, 8, 0.3), 0 3px 10px 1px rgba(33, 21, 8, 0.3);
}

#box4 {
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: -10px;
  background: #b17c6e; opacity: 0.9;
  text-align: center;
  border-radius: 25px;
  border: 9px; solid #9c9170;
  padding: 30px;
  width: 75%;
  font-family: made_bon_voyage;
  font-size: 20px;
  font-style: normal;
  box-shadow: 0 2px 4px 1px rgba(33, 21, 8, 0.3), 0 3px 10px 1px rgba(33, 21, 8, 0.3);
}

#slider {
  overflow: hidden;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

#listen{
  text-align: center;
  padding: 15px;
  margin-top: 15px;
  margin: 0px auto;
}
#listen a, #listen span {
    display: inline-block;
    text-align: center;
    line-height: 1.5em;
    margin: 0px auto;
}

a {
  color: #fff4e6;
  background: #b47a6a;
  margin: 10px;
  margin-bottom: 50px;
  text-align: center;
  display: block;
  border-radius: 25px;
  border: 3px solid #7a574d;
  font-size: 20px;
  font-family: linux_libertine;
  font-style: italic;
  border-radius: 10px;
  padding: 16px 18px;
  box-shadow: 0 2px 4px 1px rgba(33, 21, 8, 0.3), 0 3px 10px 1px rgba(33, 21, 8, 0.3);
}
a:link {
  text-decoration: none;
  color: #fff4e6;
  background: #b47a6a;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #fff4e6;
  background: #7a574d;
}
a:active {
  text-decoration: underline;
  color: #FFF;
  background: #7a574d;
}

#bottom{
  text-align: center;
  margin-bottom: -45px;
  width: 100%;
  display: flex;
  justify-content: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}
